### Pregunta 8: La mediana de la antigÃ¼edad para las Ãºltimas ediciones vigentes agrupado por el primer carÃ¡cter del tÃ­tulo

In [2]:
import pandas as pd
import numpy as np

Cada pagina aparece una sola vez en el archivo, entonces solo me interesa el titulo y la fecha de revision

In [3]:
columns_contents_1=['title','revision_timestamp']
contents_df=pd.read_csv("contents.csv",usecols=columns_contents_1,infer_datetime_format=True)
contents_df['revision_timestamp']=pd.to_datetime(contents_df['revision_timestamp'])
contents_df=contents_df.dropna()
contents_df=contents_df.astype({'title':'string'})
contents_df['first_letter']=contents_df['title'].str[0]
contents_df=contents_df.drop('title',axis=1)

Voy a tomar como punto fijo temporal sobre el cual calcular el mas reciente al momento de ejecucion del notebook. Los valores de timestamp del archivo tienen una zona horaria especificada. Para comparar con el ahora, se la saco

In [4]:
from datetime import datetime
ahora=datetime.now()

In [5]:
contents_df['revision_timestamp']=pd.to_datetime(contents_df.revision_timestamp).dt.tz_convert(None)
contents_df['antiguedad']=contents_df['revision_timestamp']-ahora
contents_df['antiguedad']=contents_df['antiguedad'].astype('timedelta64[D]')
contents_df['antiguedad']=contents_df['antiguedad']*(-1)
respuesta=contents_df.loc[:,['first_letter','antiguedad']]
respuesta=respuesta.groupby('first_letter').mean().reset_index()
respuesta=respuesta.rename(columns={'antiguedad':'antiguedad_media_en_dias'})

In [6]:
respuesta

     first_letter  antiguedad_media_en_dias
0               !                248.000000
1               "                454.090909
2               $                307.166667
3               %                103.000000
4               &                494.666667
...           ...                       ...
1841            ðŸ’£               2186.000000
1842            ðŸš€               2792.000000
1843            ðŸ§†                927.000000
1844            ð †¢                270.000000
1845            ð ˜¨                270.000000

[1846 rows x 2 columns]